body{
    background-color : rgb(172, 164, 167); 
    margin : 0;
    padding: 0;
    font-family: "Karla","Arial"; 
    font-size : 14px; 
    color : black;   
}

header, footer, nav, section, article, aside{
    display:block; 
    width: auto; 
    height: auto; 
}

ul,li,h1,h2,h3,h4,h5,h6,span,p{
    padding: 0; 
    margin: 0;
}
a{ 
    text-decoration:none; 
    color: rgb(8, 8, 8);
}
.hide {display: none;}
h1{font-size: 25px; color: black; text-align: center; margin-top: auto; }

#Cforum{width: auto; height: 50%; padding: 10px; margin: 20%; margin-top: 20px; background-color: rgb(187, 187, 187); border:  1px solid rgb(0, 0, 0);}
.categories {width: auto; margin: auto; background-color: rgb(179, 179, 179); height: 50px; line-height: 50px; margin-top: 20px; padding: 10px; border: solid 1px; text-align: center; }
.post{background-color: rgb(240, 240, 240); margin: auto; margin-top: 10px;min-height: 200px; width: 90%; padding: 10px; border: solid 2px rgb(0,0 ,0 );}

.up {
    font-size: 350% ;
}


